In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

def mean_riders_for_max_station(ridership):
    max_station = ridership[0, :].argmax()
    mean_for_max = ridership[:, max_station].mean()
    overall_mean = ridership.mean()
    return (overall_mean, mean_for_max)
    
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)

In [4]:
def min_and_max_riders_per_day(ridership):
    mean_daily_ridership = ridership.mean(axis = 0)
    max_daily_ridership = mean_daily_ridership.max(axis = 0)
    min_daily_ridership = mean_daily_ridership.min(axis = 0)
    
    return (mean_daily_ridership, max_daily_ridership, min_daily_ridership)

In [5]:
print(min_and_max_riders_per_day(ridership))

(array([ 1071.2,  2814.9,  2718.8,  3239.9,  1868.2]), 3239.9000000000001, 1071.2)

In [6]:
# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [7]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [8]:
def mean_riders_for_max_station(ridership):
    station_with_max = ridership.iloc[0].argmax()
    mean_riders = ridership[station_with_max].mean()
    mean_ridership = ridership.values.mean()
    return (mean_ridership, mean_riders)

mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9000000000001)

In [9]:
filename = 'E:/Hamed/Projects/Python/Data Course/Data-Analysis/Lesson 3/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

def correlation(x, y):
    x_std = (x - x.mean()) / x.std(ddof = 0)
    y_std = (y - y.mean()) / y.std(ddof = 0)
    pearson_r = (x_std * y_std).mean()
    return pearson_r

entries = subway_df['ENTRIESn_hourly']
cum_entries = subway_df['ENTRIESn']
rain = subway_df['meanprecipi']
temp = subway_df['meantempi']

print(correlation(entries, rain))
print(correlation(entries, temp))
print(correlation(rain, temp))

print(correlation(entries, cum_entries))

0.0356485157722
-0.0266933483216
-0.229034323408
0.585895470766

In [23]:
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    return (entries_and_exits - entries_and_exits.shift(1))

get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0

In [50]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def convert_grades(grades):
    if grades >= 90:
        return 'A'
    if grades >= 80 and grades <= 89:
        return 'B'
    if grades >= 70 and grades <= 79:
        return 'C'
    if grades >= 60 and grades <= 69:
        return 'D'
    if grades <= 59:
        return 'E'

grades_df.applymap(convert_grades)

        exam1 exam2
Andre       E     E
Barry       B     D
Chris       C     E
Dan         C     E
Emilio      B     D
Fred        C     E
Greta       A     C
Humbert     D     E
Ivan        A     C
James       B     D

In [7]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def convert_grades_curve(exam_grades):
        # Pandas has a bult-in function that will perform this calculation
        # This will give the bottom 0% to 10% of students the grade 'F',
        # 10% to 20% the grade 'D', and so on. You can read more about
        # the qcut() function here:
        # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.qcut.html
        return pd.qcut(exam_grades,[0, 0.1, 0.2, 0.5, 0.8, 1],labels=['F', 'D', 'C', 'B', 'A'])
        
    # qcut() operates on a list, array, or Series. This is the
    # result of running the function on a single column of the
    # DataFrame.
print(convert_grades_curve(grades_df['exam1']))
    
    # qcut() does not work on DataFrames, but we can use apply()
    # to call the function on each column separately
print(grades_df.apply(convert_grades_curve))
    
def standardize(df):
    return (df - df.mean()) / df.std(ddof = 0)
    
print(grades_df.apply(standardize))

Andre      (42.999, 62.8]
Barry        (79.5, 89.4]
Chris        (69.0, 79.5]
Dan          (69.0, 79.5]
Emilio       (79.5, 89.4]
Fred         (69.0, 79.5]
Greta        (89.4, 98.0]
Humbert      (62.8, 69.0]
Ivan         (89.4, 98.0]
James        (79.5, 89.4]
Name: exam1, dtype: category
Categories (5, interval[float64]): [(42.999, 62.8] < (62.8, 69.0] < (69.0, 79.5] < (79.5, 89.4] < (89.4, 98.0]]
                  exam1           exam2
Andre    (42.999, 62.8]  (23.999, 43.8]
Barry      (79.5, 89.4]    (58.0, 68.0]
Chris      (69.0, 79.5]    (50.0, 58.0]
Dan        (69.0, 79.5]    (50.0, 58.0]
Emilio     (79.5, 89.4]    (58.0, 68.0]
Fred       (69.0, 79.5]    (50.0, 58.0]
Greta      (89.4, 98.0]    (68.0, 79.0]
Humbert    (62.8, 69.0]    (43.8, 50.0]
Ivan       (89.4, 98.0]    (68.0, 79.0]
James      (79.5, 89.4]    (58.0, 68.0]
            exam1     exam2
Andre   -2.315341 -2.304599
Barry    0.220191  0.386400
Chris    0.020017 -0.096600
Dan     -0.180156 -0.096600
Emilio   0.753987  0.662400
Fred    -0.513779 -0.441600
Greta    0.887436  1.490400
Humbert -0.847401 -0.786600
Ivan     1.354508  1.007400
James    0.620538  0.179400

In [21]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})

def second_max(column):
    sorted_column = column.sort_values()
    second = sorted_column.iloc[3]
    return second
                     
df.apply(second_max)

a     4
b    40
c    20
dtype: int64

In [97]:
grades_df = pd.DataFrame(
    data={0: [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          1: [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James'])

print(grades_df.mean(axis = 'index'))
def standardize(df):
    sub_operators = pd.Series([df.mean()[0], df.mean()[1]])
    div_operators = pd.Series([df.std()[0], df.std()[1]])
    sub_grades_df = grades_df.sub(sub_operators, axis = 1)
    div_grades_df = sub_grades_df.div(div_operators, axis = 1)
    return(div_grades_df)

print(standardize(grades_df))

0    77.7
1    57.4
dtype: float64
                0         1
Andre   -2.196525 -2.186335
Barry    0.208891  0.366571
Chris    0.018990 -0.091643
Dan     -0.170911 -0.091643
Emilio   0.715295  0.628408
Fred    -0.487413 -0.418938
Greta    0.841896  1.413917
Humbert -0.803916 -0.746234
Ivan     1.284999  0.955703
James    0.588694  0.170194

In [109]:
mean_df = grades_df.sub(grades_df.mean(axis = 1), axis = 0)

In [112]:
mean_df.div(grades_df.std(axis = 1), axis = 0)

                0         1
Andre    0.707107 -0.707107
Barry    0.707107 -0.707107
Chris    0.707107 -0.707107
Dan      0.707107 -0.707107
Emilio   0.707107 -0.707107
Fred     0.707107 -0.707107
Greta    0.707107 -0.707107
Humbert  0.707107 -0.707107
Ivan     0.707107 -0.707107
James    0.707107 -0.707107

In [2]:
filename = 'E:/Hamed/Projects/Python/Data Course/Data-Analysis/Lesson 3/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)
subway_df

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0.0,0.0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0.0,0.0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0.0,0.0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0.0,0.0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0.0,0.0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0.000000,30.258000,55.980000,7.860000,40.700348,-73.887177
5,R003,05-02-11,00:00:00,4388348,2911036,15.0,34.0,2011-05-02 00:00:00,0,0,...,30.31,0,50.0,6.9,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
6,R003,05-02-11,04:00:00,5818689,3874767,19.0,40.0,2011-05-02 04:00:00,4,0,...,30.27,0,50.0,4.6,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
7,R003,05-02-11,08:00:00,4388855,2911194,488.0,118.0,2011-05-02 08:00:00,8,0,...,30.30,0,53.1,10.4,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
8,R003,05-02-11,12:00:00,4389345,2911326,490.0,132.0,2011-05-02 12:00:00,12,0,...,30.24,0,57.0,11.5,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
9,R003,05-02-11,16:00:00,4389576,2911558,231.0,232.0,2011-05-02 16:00:00,16,0,...,30.16,0,59.0,11.5,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
10,R003,05-02-11,20:00:00,4389811,2911963,235.0,405.0,2011-05-02 20:00:00,20,0,...,30.15,0,55.9,4.6,0.000000,30.238333,54.166667,8.250000,40.700348,-73.887177
11,R003,05-03-11,00:00:00,4389885,2912127,74.0,164.0,2011-05-03 00:00:00,0,1,...,30.13,0,54.0,4.6,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
12,R003,05-03-11,04:00:00,4389905,2912160,20.0,33.0,2011-05-03 04:00:00,4,1,...,30.11,0,51.8,5.8,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
13,R003,05-03-11,12:00:00,4390880,2912394,975.0,234.0,2011-05-03 12:00:00,12,1,...,30.07,0,60.8,9.2,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
14,R003,05-03-11,16:00:00,4391147,2912651,267.0,257.0,2011-05-03 16:00:00,16,1,...,29.98,0,66.0,9.2,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
15,R003,05-03-11,20:00:00,4391424,2913049,277.0,398.0,2011-05-03 20:00:00,20,1,...,29.95,0,62.1,11.5,0.000000,30.048000,58.940000,8.060000,40.700348,-73.887177
16,R003,05-04-11,00:00:00,4391507,2913223,83.0,174.0,2011-05-04 00:00:00,0,2,...,29.94,1,59.0,9.2,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
17,R003,05-04-11,04:00:00,4391531,2913258,24.0,35.0,2011-05-04 04:00:00,4,2,...,29.91,1,60.1,0.0,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
18,R003,05-04-11,08:00:00,4392063,2913388,532.0,130.0,2011-05-04 08:00:00,8,2,...,29.94,1,55.4,15.0,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
19,R003,05-04-11,12:00:00,4392517,2913495,454.0,107.0,2011-05-04 12:00:00,12,2,...,29.96,1,51.1,11.5,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
20,R003,05-04-11,16:00:00,4392764,2913744,247.0,249.0,2011-05-04 16:00:00,16,2,...,29.96,1,48.0,18.4,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
21,R003,05-04-11,20:00:00,4392984,2914100,220.0,356.0,2011-05-04 20:00:00,20,2,...,30.01,1,50.0,16.1,0.010000,29.953333,53.933333,11.700000,40.700348,-73.887177
22,R003,05-05-11,00:00:00,4393043,2914284,59.0,184.0,2011-05-05 00:00:00,0,3,...,30.01,0,48.9,16.1,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
23,R003,05-05-11,04:00:00,4393062,2914319,19.0,35.0,2011-05-05 04:00:00,4,3,...,29.98,0,48.0,12.7,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
24,R003,05-05-11,12:00:00,4394057,2914509,995.0,190.0,2011-05-05 12:00:00,12,3,...,29.91,0,60.8,15.0,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
25,R003,05-05-11,16:00:00,4394364,2914754,307.0,245.0,2011-05-05 16:00:00,16,3,...,29.88,0,63.0,19.6,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
26,R003,05-05-11,20:00:00,4394592,2915145,228.0,391.0,2011-05-05 20:00:00,20,3,...,29.94,0,57.9,12.7,0.000000,29.944000,55.720000,15.220000,40.700348,-73.887177
27,R003,05-06-11,00:00:00,4394665,2915321,73.0,176.0,2011-05-06 00:00:00,0,4,...,29.97,0,55.0,3.5,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
28,R003,05-06-11,04:00:00,4394687,2915369,22.0,48.0,2011-05-06 04:00:00,4,4,...,29.96,0,52.0,8.1,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
29,R003,05-06-11,12:00:00,4395657,2915590,970.0,221.0,2011-05-06 12:00:00,12,4,...,29.94,0,68.0,16.1,0.000000,29.918000,60.580000,11.300000,40.700348,-73.887177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42619,R464,05-26-11,16:00:00,419894,95280,0.0,0.0,2011-05-26 16:00:00,16,3,...,29.89,0,69.1,9.2,0.000000,29.922000,66.640000,7.160000,40.660004,-73.844849
42620,R464,05-26-11,20:00:00,419894,95280,0.0,0.0,2011-05-26 20:00:00,20,3,...,29.88,0,66.9,8.1,0.000000,29.922000,66.640000,7.160000,40.660004,-73.844849
42621,R464,05-27-11,00:00:00,419894,95280,0.0,0.0,2011-05-27 00:00:00,0,4,...,29.92,0,66.0,4.6,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42622,R464,05-27-11,04:00:00,419894,95280,0.0,0.0,2011-05-27 04:00:00,4,4,...,29.94,0,64.0,3.5,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42623,R464,05-27-11,12:00:00,419894,95280,0.0,0.0,2011-05-27 12:00:00,12,4,...,29.99,0,73.0,12.7,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42624,R464,05-27-11,16:00:00,419894,95280,0.0,0.0,2011-05-27 16:00:00,16,4,...,29.93,0,75.9,20.7,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42625,R464,05-27-11,20:00:00,419894,95280,0.0,0.0,2011-05-27 20:00:00,20,4,...,29.96,0,66.9,21.9,0.000000,29.948000,69.160000,12.680000,40.660004,-73.844849
42626,R464,05-28-11,00:00:00,419894,95280,0.0,0.0,2011-05-28 00:00:00,0,5,...,30.00,0,66.0,4.6,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42627,R464,05-28-11,04:00:00,419894,95280,0.0,0.0,2011-05-28 04:00:00,4,5,...,30.00,0,64.0,6.9,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42628,R464,05-28-11,12:00:00,419894,95280,0.0,0.0,2011-05-28 12:00:00,12,5,...,30.05,0,77.0,11.5,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42629,R464,05-28-11,16:00:00,419894,95280,0.0,0.0,2011-05-28 16:00:00,16,5,...,30.05,0,73.9,15.0,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42630,R464,05-28-11,20:00:00,419894,95280,0.0,0.0,2011-05-28 20:00:00,20,5,...,30.06,0,68.0,13.8,0.000000,30.032000,69.780000,10.360000,40.660004,-73.844849
42631,R464,05-29-11,00:00:00,419894,95280,0.0,0.0,2011-05-29 00:00:00,0,6,...,30.09,0,66.0,9.2,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42632,R464,05-29-11,04:00:00,419894,95280,0.0,0.0,2011-05-29 04:00:00,4,6,...,30.09,0,64.9,6.9,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42633,R464,05-29-11,08:00:00,129127,35492,0.0,0.0,2011-05-29 08:00:00,8,6,...,30.13,0,66.2,6.9,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42634,R464,05-29-11,12:00:00,419894,95280,0.0,0.0,2011-05-29 12:00:00,12,6,...,30.13,0,75.9,10.4,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42635,R464,05-29-11,16:00:00,419894,95280,0.0,0.0,2011-05-29 16:00:00,16,6,...,30.06,0,75.0,18.4,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42636,R464,05-29-11,20:00:00,419894,95280,0.0,0.0,2011-05-29 20:00:00,20,6,...,30.08,0,70.0,15.0,0.000000,30.096667,69.666667,11.133333,40.660004,-73.844849
42637,R464,05-30-11,00:00:00,419894,95280,0.0,0.0,2011-05-30 00:00:00,0,0,...,30.09,1,64.9,5.8,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42638,R464,05-30-11,04:00:00,419894,95280,0.0,0.0,2011-05-30 04:00:00,4,0,...,30.04,1,66.9,3.5,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42639,R464,05-30-11,08:00:00,129127,35492,0.0,0.0,2011-05-30 08:00:00,8,0,...,30.09,1,72.0,13.8,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42640,R464,05-30-11,12:00:00,419894,95280,0.0,0.0,2011-05-30 12:00:00,12,0,...,30.10,1,82.9,8.1,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42641,R464,05-30-11,16:00:00,419894,95280,0.0,0.0,2011-05-30 16:00:00,16,0,...,30.06,1,82.0,9.2,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42642,R464,05-30-11,20:00:00,419894,95280,0.0,0.0,2011-05-30 20:00:00,20,0,...,30.10,1,73.0,4.6,0.001667,30.080000,73.616667,7.500000,40.660004,-73.844849
42643,R464,05-31-11,00:00:00,419894,95280,0.0,0.0,2011-05-31 00:00:00,0,1,...,30.13,0,72.0,0.0,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42644,R464,05-31-11,04:00:00,567311,132804,0.0,0.0,2011-05-31 04:00:00,4,1,...,30.14,0,73.0,6.9,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42645,R464,05-31-11,08:00:00,290767,59788,0.0,0.0,2011-05-31 08:00:00,8,1,...,30.19,0,80.1,6.9,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42646,R464,05-31-11,12:00:00,419894,95280,0.0,0.0,2011-05-31 12:00:00,12,1,...,30.20,0,81.0,10.4,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42647,R464,05-31-11,16:00:00,419894,95280,0.0,0.0,2011-05-31 16:00:00,16,1,...,30.17,0,77.0,13.8,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849
42648,R464,05-31-11,20:00:00,419894,95280,0.0,0.0,2011-05-31 20:00:00,20,1,...,30.18,0,69.1,4.6,0.000000,30.168333,75.366667,7.100000,40.660004,-73.844849

In [ ]:
%matplotlib inline
entries = subway_df.groupby(['ENTRIESn_hourly']).sum()
print(entries)
#print(plt.hist(entries))

In [ ]:
ridership_per_day = subway_df.groupby(['day_week']).mean()['EXITSn_hourly']
ridership_per_day.plot()

In [32]:
def calculation(data):
    entries_hourly = data.groupby('day_week').sum()['ENTRIESn_hourly']
    exits_hourly = data.groupby('day_week').sum()['EXITSn_hourly']
    return (entries_hourly - exits_hourly)

subway_df.groupby('UNIT').apply(calculation)

day_week         0         1         2         3         4        5        6
UNIT
R003        2242.0    2486.0    1909.0    2029.0    1922.0    207.0    313.0
R004        5326.0    4806.0    3881.0    4778.0    3612.0    422.0    515.0
R005        4659.0    5002.0    3518.0    3772.0    3725.0   -130.0    206.0
R006        7025.0    6631.0    5880.0    5874.0    5877.0   1585.0   1332.0
R007        3249.0    3235.0    1571.0    2102.0    2012.0   -267.0     80.0
R008        3122.0    2912.0    2209.0    2565.0    2309.0   -126.0     46.0
R009        2139.0    2427.0    1844.0    1657.0    1645.0    441.0    449.0
R011      158839.0  185357.0  143675.0  138842.0  137452.0  55916.0  51059.0
R012      104539.0  116879.0   92035.0   87557.0   74847.0  28681.0  29203.0
R013      -27556.0  -32857.0  -26857.0  -29925.0  -32613.0 -12710.0  -3093.0
R016       -5837.0   -7381.0    -741.0   -3229.0   -1393.0    910.0     79.0
R017       12951.0   26864.0   16729.0   27616.0   25717.0  22027.0   9975.0
R018       57045.0   42747.0   46016.0   35692.0   32744.0  17899.0  12306.0
R019       59678.0   68319.0   52998.0   55545.0   48890.0  14411.0  14419.0
R020      -13105.0    9641.0   10967.0    4138.0   15051.0  19851.0  12993.0
R021        8807.0   27497.0   20040.0   18759.0   17313.0  17935.0  10816.0
R022       34933.0   58175.0   51197.0   40620.0   49635.0  35712.0  19606.0
R023      106256.0  113358.0  111121.0  101430.0  102578.0  50156.0  44911.0
R024       15360.0    9521.0    8068.0    8471.0    9130.0    805.0   6203.0
R025       77060.0   91640.0   72319.0   72635.0   67987.0  22800.0  22636.0
R027       -3852.0    2781.0    2679.0    5447.0    5622.0   3282.0   -595.0
R029       80334.0  126904.0   96430.0  100952.0   90540.0  45728.0  34915.0
R030       -1069.0   16346.0   12062.0   14149.0   12240.0 -12594.0 -12713.0
R031       24974.0   24719.0   27938.0   23955.0   19137.0   6721.0   3642.0
R032      -57309.0  -55969.0  -37099.0  -49685.0  -49266.0 -61026.0 -62957.0
R033      105465.0  109573.0   93309.0  101799.0   98328.0  82837.0  99951.0
R034         603.0     146.0    -154.0    -664.0   -1104.0   -851.0  -2053.0
R035       63191.0   67972.0   57292.0   58303.0   50083.0  33998.0  27926.0
R036       19375.0   21918.0   17702.0   18637.0   16769.0   6304.0   6124.0
R037        4219.0    3477.0    1942.0    2938.0    2086.0   -712.0   -289.0
...            ...       ...       ...       ...       ...      ...      ...
R321        9753.0   18563.0   10806.0   17943.0   14220.0   7236.0   6377.0
R322       -3289.0   -6340.0   -5975.0   -6384.0   -4517.0   2263.0   5487.0
R323       14839.0   18293.0   14377.0   15098.0   14597.0   7722.0   6346.0
R325        -278.0     -74.0   -1812.0    -588.0    -819.0  -1744.0  -1511.0
R330       -2041.0   -1871.0      26.0    -853.0    -681.0    470.0   -542.0
R335        4252.0    4526.0    3583.0    3552.0    3850.0    530.0    387.0
R336       -5478.0   -6479.0   -6136.0   -5468.0   -4670.0  -4332.0  -2738.0
R337        1624.0    1672.0    1152.0    1377.0    1404.0   -240.0    -46.0
R338       -2548.0   -3075.0   -2603.0   -2504.0   -2447.0  -1538.0  -1195.0
R341       14714.0   16567.0   16172.0   14337.0   14290.0   6952.0   7288.0
R344       12023.0   16575.0   11653.0   14160.0   11279.0   9359.0   7378.0
R345        2263.0    2572.0    2348.0    1510.0    1815.0    253.0   -229.0
R346        -636.0    2943.0    2555.0    1060.0    4156.0    457.0   -155.0
R348        4460.0    4913.0    4191.0    3894.0    4720.0   1885.0   1635.0
R354        1586.0    1178.0      84.0     982.0     712.0    -26.0    -81.0
R356        8795.0    8094.0    6853.0    6465.0    5534.0    178.0   1308.0
R358        1193.0     711.0    -556.0    1127.0     237.0   -889.0   -547.0
R370        8190.0    9056.0    9070.0    8542.0    8524.0  -2596.0  -4310.0
R371       15429.0   15991.0   13703.0   14120.0   15860.0   1605.0   1218.0
R372       11519.0   14367.0   10606.0   12169.0   11808.0    171.0  -1701.0
R373        9318.0   11602.0    7916.0    8883.0    8157.0   2866.0   1024.0
R382        4023.0    2851.0    2223.0    2556.0    2003.0   -479.0   -746.0
R424        2883.0    3801.0    2199.0    2746.0    2632.0    891.0    904.0
R429       10955.0   10747.0    5917.0   10794.0    8277.0    237.0   1506.0
R453      -10733.0  -12633.0   -8417.0   -6558.0   -5783.0   3008.0   2801.0
R454      -14425.0  -16359.0  -12747.0  -15211.0  -12099.0 -11003.0 -10133.0
R455       -7446.0   -9855.0   -7702.0   -7598.0   -7517.0  -5864.0  -5842.0
R456      -10869.0  -12417.0   -8421.0  -10131.0   -8969.0  -7087.0  -6639.0
R459        4117.0     235.0      -2.0      -2.0      -3.0    750.0   2155.0
R464           0.0       0.0       0.0       0.0       0.0      0.0      0.0

[240 rows x 7 columns]