In [2]:
import numpy as np
import pandas as pd

ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

def mean_riders_for_max_station(ridership):
    max_station = ridership[0, :].argmax()
    mean_for_max = ridership[:, max_station].mean()
    overall_mean = ridership.mean()
    return (overall_mean, mean_for_max)
    
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)

In [4]:
def min_and_max_riders_per_day(ridership):
    mean_daily_ridership = ridership.mean(axis = 0)
    max_daily_ridership = mean_daily_ridership.max(axis = 0)
    min_daily_ridership = mean_daily_ridership.min(axis = 0)
    
    return (mean_daily_ridership, max_daily_ridership, min_daily_ridership)

In [5]:
print(min_and_max_riders_per_day(ridership))

(array([ 1071.2,  2814.9,  2718.8,  3239.9,  1868.2]), 3239.9000000000001, 1071.2)

In [6]:
# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [7]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [8]:
def mean_riders_for_max_station(ridership):
    station_with_max = ridership.iloc[0].argmax()
    mean_riders = ridership[station_with_max].mean()
    mean_ridership = ridership.values.mean()
    return (mean_ridership, mean_riders)

mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9000000000001)

In [9]:
filename = 'E:/Hamed/Projects/Python/Data Course/Data-Analysis/Lesson 3/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

def correlation(x, y):
    x_std = (x - x.mean()) / x.std(ddof = 0)
    y_std = (y - y.mean()) / y.std(ddof = 0)
    pearson_r = (x_std * y_std).mean()
    return pearson_r

entries = subway_df['ENTRIESn_hourly']
cum_entries = subway_df['ENTRIESn']
rain = subway_df['meanprecipi']
temp = subway_df['meantempi']

print(correlation(entries, rain))
print(correlation(entries, temp))
print(correlation(rain, temp))

print(correlation(entries, cum_entries))

0.0356485157722
-0.0266933483216
-0.229034323408
0.585895470766

In [23]:
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    return (entries_and_exits - entries_and_exits.shift(1))

get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0

In [50]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

def convert_grades(grades):
    if grades >= 90:
        return 'A'
    if grades >= 80 and grades <= 89:
        return 'B'
    if grades >= 70 and grades <= 79:
        return 'C'
    if grades >= 60 and grades <= 69:
        return 'D'
    if grades <= 59:
        return 'E'

grades_df.applymap(convert_grades)

        exam1 exam2
Andre       E     E
Barry       B     D
Chris       C     E
Dan         C     E
Emilio      B     D
Fred        C     E
Greta       A     C
Humbert     D     E
Ivan        A     C
James       B     D